.app-container {
  display: flex;
  height: 100vh; /* Ensure full height */
}

.content-container {
  flex: 1;
  background-color: #f0f4ff;
  overflow-y: auto; /* Allow scrolling in content area */
  /*padding: 20px;  Remove from here, handled in DashboardContent */
}